/*
** POSITION ABSOLUTE CENTER
*/
/*
** LINE TOP
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: 'Lobster Two', sans serif;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 70.625rem) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 50rem) {
    html {
      font-size: 40%; } }

.container {
  width: 100%;
  height: auto;
  overflow: hidden; }

::selection {
  color: #fff;
  background: #ff0052; }

/*
** **
** ** ==> LOADING SPINNER
** **
*/
.lds-spinner-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center; }

.lds-spinner {
  margin-top: 20%;
  color: official;
  display: inline-block;
  position: relative; }

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite; }

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff; }

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s; }

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s; }

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s; }

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s; }

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s; }

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s; }

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s; }

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s; }

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s; }

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s; }

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s; }

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s; }

@keyframes lds-spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
** **
** ** ==> BUTTON
** **
*/
.btn {
  position: relative;
  z-index: 2;
  transition: all .2s ease;
  /*Button primary and Button Seconday Styles*/
  /*Sizes*/ }
  .btn, .btn:link, .btn:visited {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    font-weight: 100;
    text-decoration: none;
    text-align: center;
    padding: 1.5rem;
    padding-left: 0;
    border: none;
    cursor: pointer; }
  .btn:active::after {
    box-shadow: 0 2rem 6rem rgba(2, 2, 2, 0.27); }
  .btn::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 1px;
    transition: all .2s ease;
    transform: translateY(0);
    z-index: 1; }
  .btn:hover::after {
    height: 100%;
    z-index: -1; }
  .btn:hover {
    font-size: 2.8rem;
    padding-left: 2rem; }
  .btn.btn-primary {
    color: #ff0052;
    background: linear-gradient(to right bottom, #ff0052, #ec006f);
    background-clip: text;
    -webkit-background-clip: text; }
  .btn.btn-secondary {
    color: #fff;
    background: linear-gradient(to right bottom, #f2f2f2, #fff);
    background-clip: text;
    -webkit-background-clip: text; }
  .btn.btn-primary::after {
    background: linear-gradient(to right bottom, #ff0052, #ec006f); }
  .btn.btn-secondary::after {
    background: linear-gradient(to right bottom, #f2f2f2, #fff); }
  .btn.btn-primary-bg {
    color: #fff; }
    .btn.btn-primary-bg::after {
      height: 100%;
      z-index: -1;
      border-radius: 3rem; }
  .btn.btn-secondary-bg {
    color: #000; }
    .btn.btn-secondary-bg::after {
      height: 100%;
      z-index: -1; }
  .btn.btn-primary:hover {
    color: #fff; }
  .btn.btn-secondary:hover {
    color: #ff0052; }
  .btn.btn-block {
    display: block;
    width: 100%; }

/*
** **
** ** ==> CONTACT FORM
** **
*/
.contact {
  width: 80%;
  margin: 0 auto;
  min-height: 60vh;
  margin-top: 10vh;
  margin-bottom: 2rem;
  background-color: #f2f2f2;
  box-shadow: 0 2rem 6rem rgba(2, 2, 2, 0.27);
  display: flex; }
  @media only screen and (max-width: 50rem) {
    .contact {
      width: 90%; } }
  @media only screen and (max-width: 37.5rem) {
    .contact {
      flex-direction: column;
      margin-top: 5vh; } }
  .contact__left {
    flex: 0 0 40%;
    padding: 5rem;
    background-color: #fff;
    display: flex; }
  .contact__right {
    flex: 0 0 60%;
    padding: 5rem;
    background-color: #ded5c4;
    display: flex; }
  .contact__form {
    align-self: center;
    width: 80%; }
    .contact__form__input-text, .contact__form__input-email, .contact__form__input-message {
      width: 100%;
      padding: 2rem 0;
      background-color: transparent;
      border: none;
      margin-bottom: 1rem;
      border-radius: 5px;
      border-bottom: 2px solid #ff0052; }
    .contact__form__input-text::placeholder, .contact__form__input-email::placeholder, .contact__form__input-message::placeholder {
      font-size: 1.8rem;
      font-weight: 100; }
    .contact__form__input-text:focus, .contact__form__input-email:focus, .contact__form__input-message:focus {
      box-shadow: 0 2rem 6rem rgba(2, 2, 2, 0.12); }
    .contact__form__input-message {
      padding: 3.5rem 0; }
    .contact__form__submit-button {
      margin-top: 2rem;
      height: 100px; }
      .contact__form__submit-button button:hover {
        padding-left: 0 !important; }

/*
** **
** ** ==> CONTACT FORM
** **
*/
.lightbox {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 100;
  display: none; }
  .lightbox__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1; }
  .lightbox__wrap {
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    margin-top: 5vh;
    box-shadow: 0 2rem 6rem rgba(2, 2, 2, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .lightbox__slider {
    flex: 0 0 70%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden; }
    .lightbox__slider__container {
      display: flex;
      width: 100%;
      height: 100%; }
    .lightbox__slider .slider__indicators {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 100;
      font-size: 2.5rem;
      display: flex;
      justify-content: flex-end;
      padding: 2rem;
      width: 100%;
      list-style: none; }
      .lightbox__slider .slider__indicators li {
        margin-left: 1.5rem;
        padding: 0 1.2rem;
        text-align: center;
        color: transparent;
        background-color: #1a0022;
        border: 1px solid #a50031;
        border-radius: 50%;
        cursor: pointer; }
        .lightbox__slider .slider__indicators li:hover {
          border: 1px solid #ff0052;
          background-color: #fff; }
        @media screen and (max-width: 37.5rem) {
          .lightbox__slider .slider__indicators li {
            width: 20px;
            height: 20px;
            padding: 0; } }
        @media screen and (max-width: 37.5rem) {
          .lightbox__slider .slider__indicators li {
            width: 15px;
            height: 15px;
            padding: 0; } }
      .lightbox__slider .slider__indicators li.active {
        border: 1px solid white; }
    .lightbox__slider .smooth-container {
      transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
    .lightbox__slider__slides {
      flex: 0 0 100%;
      height: 100%;
      overflow: hidden;
      position: relative; }
      .lightbox__slider__slides img {
        height: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
        cursor: zoom-in; }
      .lightbox__slider__slides .img-cusrsor-zoom-out {
        cursor: zoom-out; }
    .lightbox__slider .slide-overflow {
      overflow-y: scroll; }
    .lightbox__slider .slides-zoom {
      height: auto;
      width: 100%;
      margin-left: 0;
      transform: none; }
    .lightbox__slider__controls__control {
      font-size: 5rem;
      position: absolute;
      top: 50%;
      z-index: 1000;
      transform: translateY(-50%);
      text-decoration: none;
      color: white;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
      padding: 1rem 2rem;
      background-color: rgba(255, 255, 255, 0.4);
      transition: all .2s ease; }
      .lightbox__slider__controls__control:hover {
        color: #f2f2f2;
        font-size: 6.5rem; }
      .lightbox__slider__controls__control--next {
        right: 0%; }
      .lightbox__slider__controls__control--prev {
        left: 0; }
  .lightbox__close {
    position: absolute;
    top: -15px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 600;
    padding: 0 2.5rem;
    transition: all .2s ease; }
    .lightbox__close:hover {
      background-color: transparent;
      color: white; }
  .lightbox__content {
    flex: 0 0 30%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    overflow-y: scroll; }
    @media screen and (max-width: 37.5rem) {
      .lightbox__content {
        flex-direction: column; } }
    .lightbox__content__title {
      flex: 0 0 30%;
      background-color: #f2f2f2;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .lightbox__content__title__tags {
        padding: 1rem 0;
        font-size: 1.5rem;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        color: #ff0052;
        list-style: none;
        text-transform: capitalize; }
        .lightbox__content__title__tags li {
          background-color: #1a0022;
          padding: 1rem 2rem;
          width: 100px;
          margin-left: .5rem;
          margin-top: .5rem; }
    .lightbox__content__desc {
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center; }

.container {
  margin: 0 auto; }

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: center; }

.navigation {
  width: 5rem;
  height: 100vh;
  display: flex;
  position: fixed;
  background: transparent;
  z-index: 20;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(1, 0, 0, 1); }
  @media screen and (max-width: 37.5rem) {
    .navigation {
      transition: all .1s ease; } }

.introduction {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #1a0022, #a50031); }

.services {
  width: 100%;
  min-height: 100vh;
  background: #f2f2f2;
  text-align: center; }

.work {
  width: 100%;
  min-height: 300vh; }
  @media only screen and (max-width: 37.5rem) {
    .work {
      min-height: 480vh; } }

.about {
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2; }

.footer {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #ff0052, #f2f2f2 80%); }

/*
** **
** ** ==> GLOBAL STYLES
** **
*/
h2.section-heading {
  font-family: 'Great Vibes', cursive;
  font-size: 3.5rem;
  display: inline-block;
  font-weight: 100;
  text-transform: capitalize;
  /*padding: 5rem 2rem;*/
  position: relative; }
  h2.section-heading::before {
    content: "";
    width: 1px;
    background-color: currentColor;
    height: 3rem;
    position: absolute;
    top: -3rem;
    left: 50%; }
    @media screen and (max-width: 37.5rem) {
      h2.section-heading::before {
        top: 50%;
        left: 102%;
        width: 6rem;
        height: 2px; } }
  @media screen and (max-width: 37.5rem) {
    h2.section-heading::before {
      visibility: hidden; } }

.m-top-small {
  margin-top: 3rem; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline;
  text-decoration-color: #ff0052; }

.primary {
  color: #ff0052; }

.br {
  display: block; }

.invis {
  visibility: hidden; }

/*
** **
** ** ==> INTRODUCTION SECTION
** **
*/
.intro__heading {
  font-size: 5rem;
  font-weight: 100;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
  /*Formatting text individually*/ }
  @media only screen and (max-width: 37.5rem) {
    .intro__heading {
      font-size: 3rem; } }
  .intro__heading__intro {
    display: block;
    font-size: 3.5rem;
    font-weight: 100;
    text-transform: capitalize; }
  .intro__heading__hi {
    font-size: 10rem;
    transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
    @media only screen and (max-width: 50rem) {
      .intro__heading__hi {
        font-size: 8rem; } }
    @media only screen and (max-width: 37.5rem) {
      .intro__heading__hi {
        font-size: 6rem; } }
  .intro__heading__text {
    font-size: 2.6rem;
    letter-spacing: 1.3rem;
    transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
  .intro__heading__i {
    font-size: 10rem;
    transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
    @media only screen and (max-width: 50rem) {
      .intro__heading__i {
        font-size: 8rem; } }
    @media only screen and (max-width: 37.5rem) {
      .intro__heading__i {
        font-size: 6rem; } }
  .intro__heading__style {
    font-size: 3.6rem;
    letter-spacing: 1.3rem;
    margin-top: -3.5rem;
    display: flex;
    color: transparent;
    background-image: linear-gradient(to right bottom, #ec006f, #ff0052);
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
    @media only screen and (max-width: 50rem) {
      .intro__heading__style {
        justify-content: center; } }
    .intro__heading__style .and {
      font-size: 10rem;
      transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
    .intro__heading__style .style {
      align-self: center;
      font-weight: bolder; }
  .intro__heading__animate {
    transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }

/*
** **
** ** ==> SERVICES SECTION
** **
*/
.skills__anim {
  overflow: hidden; }

.skills__heading {
  font-size: 7rem;
  font-weight: 100; }
  @media only screen and (max-width: 50rem) {
    .skills__heading {
      font-size: 6rem; } }
  @media only screen and (max-width: 37.5rem) {
    .skills__heading {
      font-size: 4.5rem; } }

.skills__sm {
  font-size: 3.5rem;
  position: relative;
  padding-top: 1rem;
  border-bottom: 2px solid #ff0052; }

/*
** **
** ** ==> SHOWCASE SECTION
** **
*/
h3.showcase__left__heading {
  font-family: 'Great Vibes', cursive;
  font-size: 5.5rem;
  font-weight: 300;
  text-transform: capitalize; }

p.showcase__left__text {
  color: black;
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: capitalize; }
  @media only screen and (max-width: 37.5rem) {
    p.showcase__left__text {
      font-size: 2.5rem; } }

h4.showcase__right__heading {
  font-size: 3rem;
  font-weight: 200;
  text-transform: capitalize; }

p.showcase__right__text {
  font-size: 1.5rem;
  font-weight: 200;
  padding: 2rem 0 5rem 0;
  width: 90%; }
  @media only screen and (max-width: 37.5rem) {
    p.showcase__right__text {
      width: 100%;
      font-size: 2.5rem; } }

h4.showcase__show-all__heading {
  font-family: 'Great Vibes', cursive;
  font-size: 10rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: underline;
  text-transform: capitalize;
  transform: scale3d(1.6, 1.6, 1);
  transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
  @media only screen and (max-width: 50rem) {
    h4.showcase__show-all__heading {
      font-size: 5rem; } }

h5.slider__heading {
  color: #fff;
  text-shadow: 2px 2px 1px #000;
  font-size: .5rem;
  font-weight: 100;
  width: 150%;
  height: 150%;
  border-radius: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  text-transform: capitalize;
  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }

/*
** **
** ** ==> ABOUT SECTION <==
** **
*/
.about__myself {
  padding-bottom: 3.5rem; }
  .about__myself__heading {
    font-size: 30rem;
    font-weight: 100;
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5); }
  .about__myself__sub-heading {
    font-size: 5rem;
    font-weight: 100;
    letter-spacing: -.2rem;
    margin-top: 2.5rem; }
  .about__myself__sub-heading-top {
    font-size: 7rem;
    margin-top: 1rem; }
  .about__myself__detail {
    font-size: 1.7rem;
    padding-right: 5rem;
    line-height: 1.4; }
    .about__myself__detail:not(:last-child) {
      padding-bottom: 1.5rem; }

/*
** **
** ** ==> FOOTER <==
** **
*/
h3.contact__heading {
  font-size: 8rem;
  font-weight: 500;
  text-decoration: underline;
  text-align: right;
  align-self: center;
  text-decoration-color: #ff0052; }
  @media only screen and (max-width: 37.5rem) {
    h3.contact__heading {
      text-align: center;
      font-size: 5rem; } }

p.copyright__text {
  font-size: 2.5rem;
  letter-spacing: .5rem;
  font-weight: 100;
  margin-top: 3.5rem;
  padding-bottom: .5rem; }

a.footer__link {
  text-decoration-color: currentColor;
  color: white;
  font-family: "Great Vibes", cursive; }

.lightbox__heading {
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-color: #fff;
  color: #ff0052;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000; }

.lightbox__text {
  font-size: 2rem;
  font-family: Calibri, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.lightbox__close {
  font-size: 8rem;
  color: #ff0052;
  text-decoration: none; }

/*
** **
** ** ==> HEADER <==
** **
*/
.logo {
  width: 8rem;
  height: 8rem;
  margin: 2rem;
  background: none;
  border-radius: 50%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
  .logo:hover {
    transform: scale(0.9); }
  .logo .logo__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../Images/logo.png");
    background-size: contain;
    background-repeat: no-repeat; }
    .logo .logo__link:hover {
      background-image: url("../Images/logo.png") !important; }

/*
** **
** ** ==> NAVIGATION <==
** **
*/
/*
 *========= Navigation Button & Functionality =========
**/
.nav-button {
  position: absolute;
  width: 100%; }

.nav-btn {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  padding: 1.5rem 1.3rem;
  cursor: pointer; }
  .nav-btn__left {
    flex: 0 0 25%;
    padding-right: 2rem; }
    .nav-btn__left__icon {
      font-size: 3rem;
      margin-top: 1.6rem;
      margin-left: -.3rem;
      margin-right: auto;
      position: relative; }
      .nav-btn__left__icon, .nav-btn__left__icon::before, .nav-btn__left__icon::after {
        content: "";
        display: block;
        width: 3rem;
        height: 3px;
        background-color: #ff0052;
        transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
      .nav-btn__left__icon::before {
        position: absolute;
        top: -8px;
        left: 0; }
      .nav-btn__left__icon::after {
        position: absolute;
        bottom: -8px;
        left: 0; }
  .nav-btn__right {
    flex: 0 0 60%; }
    .nav-btn__right__text {
      padding-left: 2rem;
      font-size: 3rem; }
  .nav-btn-handler {
    display: none; }
  .nav-btn:hover .nav-btn__left .nav-btn__left__icon {
    width: 2rem; }
  .nav-btn:hover .nav-btn__left .nav-btn__left__icon:after {
    width: 3rem; }
  .nav-btn-handler:checked ~ .navigation {
    width: 25rem;
    background: #fff;
    box-shadow: 0 2rem 6rem rgba(2, 2, 2, 0.27); }
  .nav-btn-handler:checked ~ .navigation .nav-btn__left__icon {
    width: 3.5rem; }
  .nav-btn-handler:checked ~ .navigation .nav-btn__left__icon:after {
    width: 2rem; }
  .nav-btn-handler:Checked ~ .navigation .nav__link__text {
    display: inline-block; }
  .nav-btn-handler:checked ~ .navigation .nav-btn {
    background-color: #ff0052; }
    .nav-btn-handler:checked ~ .navigation .nav-btn .nav-btn__left span {
      background-color: #fff; }
    .nav-btn-handler:checked ~ .navigation .nav-btn span::before,
    .nav-btn-handler:checked ~ .navigation .nav-btn span::after {
      background-color: #fff; }

/*
 *========= Navigation Links & List items =========
**/
.nav {
  align-self: flex-end;
  flex: 0 0 100%; }
  .nav__list {
    list-style: none; }
    .nav__list__item {
      width: 100%;
      height: 7rem;
      overflow: hidden; }
  .nav__list__item-active .nav__link:link,
  .nav__list__item-active .nav__link:visited {
    background: #ded5c4; }
  .nav__link:link, .nav__link:visited {
    width: 100%;
    height: 100%;
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    padding: 2rem;
    padding-left: 0;
    background: #fff;
    display: flex; }
  .nav__link:hover {
    background: #ff0052;
    color: #fff; }
    @media screen and (max-width: 50rem) {
      .nav__link:hover {
        background-color: #f2f2f2;
        color: #000; } }
  .nav__link__icon {
    width: 5rem; }
  .nav__link__text {
    width: 20rem;
    padding-left: 4.5rem;
    display: none; }

/*
** **
** ** ==> INTRODUCTION SECTION <==
** **
*/
.intro {
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 50rem) {
    .intro {
      flex-direction: column;
      align-items: center;
      justify-content: stretch; } }
  .intro__wrap {
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
    @media only screen and (max-width: 50rem) {
      .intro__wrap {
        position: static;
        transform: none;
        text-align: center; } }
  .intro__left, .intro__right {
    flex: 0 0 40%;
    height: 83vh;
    margin-top: 7vh;
    position: relative;
    background-color: #f2f2f2;
    transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    box-shadow: 0 2rem 6rem rgba(2, 2, 2, 0.27);
    overflow: hidden;
    margin-right: 5px; }
    @media only screen and (max-width: 50rem) {
      .intro__left, .intro__right {
        width: 95%;
        margin: 0;
        height: 0;
        flex: 0 0 45vh;
        box-shadow: none;
        display: flex;
        justify-content: center;
        transition: none; } }
  .intro__left {
    animation: anim-slide-down 1s cubic-bezier(1, 0, 0, 1); }
    @media only screen and (max-width: 50rem) {
      .intro__left {
        animation: none;
        margin-top: 5vh; } }
  .intro__right {
    animation: anim-slide-up 1s cubic-bezier(1, 0, 0, 1);
    background-image: url(../Images/intro-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media screen and (max-width: 37.5rem) {
      .intro__right {
        background-image: url(../Images/intro-img-small.jpg); } }
    .intro__right__img {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(#ff0052, #ec006f), url(../Images/intro-img.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-blend-mode: multiply;
      transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
      @media screen and (max-width: 37.5rem) {
        .intro__right__img {
          background-image: linear-gradient(#ff0052, #ec006f), url(../Images/intro-img-small.jpg); } }
    @media only screen and (max-width: 50rem) {
      .intro__right {
        animation: none; } }
  .intro .left-book {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    border-radius: 1rem 0 0 1rem;
    margin-right: 0; }
    @media only screen and (max-width: 50rem) {
      .intro .left-book {
        clip-path: none;
        border-radius: 1rem 1rem 0 0; } }
  .intro .right-book {
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    border-radius: 0 1rem 1rem 0;
    margin-right: 1px; }
    @media only screen and (max-width: 50rem) {
      .intro .right-book {
        clip-path: none;
        border-radius: 0 0 1rem 1rem; } }

/*
** **
** ** ==> SERVICES SECTION <==
** **
*/
.skills {
  width: 100%;
  height: 95vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .skills__top {
    display: flex; }
    @media only screen and (max-width: 37.5rem) {
      .skills__top {
        flex-direction: column; } }
    .skills__top__left {
      flex: 0 0 45%; }
      @media only screen and (max-width: 50rem) {
        .skills__top__left {
          flex: 0 0 45%; } }
    .skills__top__mid {
      flex: 0 0 5%; }
    .skills__top__right {
      flex: 0 0 50%; }
  .skills__mid {
    padding: 5rem 0;
    display: flex; }
    @media only screen and (max-width: 37.5rem) {
      .skills__mid {
        flex-direction: column; } }
    .skills__mid__left {
      flex: 0 0 40%; }
      @media only screen and (max-width: 50rem) {
        .skills__mid__left {
          flex: 0 0 48%; } }
    .skills__mid__mid {
      flex: 0 0 10%; }
    .skills__mid__right {
      flex: 0 0 50%; }
      @media only screen and (max-width: 50rem) {
        .skills__mid__right {
          flex: 0 0 40%; } }
  .skills__bottom {
    display: flex; }
    @media only screen and (max-width: 37.5rem) {
      .skills__bottom {
        flex-direction: column;
        align-items: center; } }
    .skills__bottom__left {
      flex: 0 0 60%; }
      @media only screen and (max-width: 50rem) {
        .skills__bottom__left {
          flex: 0 0 48%; } }
    .skills__bottom__mid {
      flex: 0 0 9%; }
      @media only screen and (max-width: 50rem) {
        .skills__bottom__mid {
          flex: 0 0 4%; } }
      @media only screen and (max-width: 37.5rem) {
        .skills__bottom__mid {
          width: 30%; } }
    .skills__bottom__right {
      flex: 0 0 31%; }
      @media only screen and (max-width: 50rem) {
        .skills__bottom__right {
          flex: 0 0 48%; } }

/*
** **
** ** ==> WORK SECTION <==
** **
*/
.showcase {
  /*
	 *========= Heading =========
	**/
  /*
	 *========= Show all work =========
	**/ }
  .showcase__header {
    padding: 10rem;
    text-align: right; }
  .showcase__flexbox {
    width: 100%;
    height: 100vh;
    display: flex;
    /*
		** Colors of all 4 sides
		** Top left and Right side of Showcase 01
		** Bot left and Right side of Showcase 02
		**/
    /*
		 *========= Left Side =========
		**/
    /*
		 *========= Right Side =========
		**/ }
    @media only screen and (max-width: 37.5rem) {
      .showcase__flexbox {
        flex-direction: column;
        height: 190vh;
        background-color: #f2f2f2; } }
    .showcase__flexbox .right-textbox-bot .showcase__right__list li {
      color: #ff0052;
      background-color: white; }
    .showcase__flexbox-top .showcase__flexbox__left {
      background-color: #fff;
      color: #000; }
    .showcase__flexbox-top .showcase__flexbox__right {
      background-color: #f2f2f2;
      color: #000; }
    .showcase__flexbox-bot .showcase__flexbox__left {
      background-color: #ded5c4;
      color: #fff; }
    .showcase__flexbox-bot .showcase__flexbox__right {
      background-color: #ff0052;
      color: #fff; }
    .showcase__flexbox__left {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column; }
      .showcase__flexbox__left__imgbox {
        flex: 0 0 80%; }
        .showcase__flexbox__left__imgbox__img {
          width: 50%;
          height: 60vh;
          margin: 20vh auto 0;
          overflow: hidden;
          transform: scale3d(1.6, 1.6, 1);
          transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
          .showcase__flexbox__left__imgbox__img > img {
            width: 100%; }
          @media only screen and (max-width: 37.5rem) {
            .showcase__flexbox__left__imgbox__img {
              width: 80%;
              height: 80vh;
              margin: 5vh auto 0; } }
      .showcase__flexbox__left__textbox {
        flex: 0 0 20%;
        text-align: center;
        position: relative;
        z-index: 10; }
        .showcase__flexbox__left__textbox > p {
          margin-top: 5%; }
          @media only screen and (max-width: 37.5rem) {
            .showcase__flexbox__left__textbox > p {
              margin-top: 0; } }
    .showcase__flexbox__right {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden; }
      @media only screen and (max-width: 37.5rem) {
        .showcase__flexbox__right {
          flex-basis: 0 0 50;
          background-color: blue; } }
      .showcase__flexbox__right__imgbox {
        overflow: hidden;
        border-top: 1px solid #ded5c4;
        background: #f2f2f2; }
        .showcase__flexbox__right__imgbox__img {
          width: 100%; }
      .showcase__flexbox__right__textbox {
        width: 50%;
        margin: 0 auto;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        transition: all 1s cubic-bezier(0.22, 0.61, 0.36, 1); }
        @media only screen and (max-width: 50rem) {
          .showcase__flexbox__right__textbox {
            width: 100%;
            margin-left: 0;
            padding-left: 5rem; } }
        @media only screen and (max-width: 37.5rem) {
          .showcase__flexbox__right__textbox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 6rem; } }
        .showcase__flexbox__right__textbox h2.showcase__heading {
          padding: 2rem 0; }
        .showcase__flexbox__right__textbox h4.showcase__right__heading {
          font-size: 10rem;
          font-family: Lobster two; }
          @media only screen and (max-width: 37.5rem) {
            .showcase__flexbox__right__textbox h4.showcase__right__heading {
              margin-top: 15%; } }
        .showcase__flexbox__right__textbox > .showcase__right__list {
          font-size: 1.6rem;
          font-weight: 500;
          list-style: none;
          text-transform: uppercase;
          padding: 2rem 0 4rem 0;
          color: black;
          display: flex;
          justify-content: space-between; }
          .showcase__flexbox__right__textbox > .showcase__right__list > .showcase__right__list__item {
            background-color: #1a0022;
            color: white;
            padding: .5rem 1.5rem; }
        .showcase__flexbox__right__textbox .showcase__right__btn {
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          @media only screen and (max-width: 37.5rem) {
            .showcase__flexbox__right__textbox .showcase__right__btn {
              height: 60px; } }
  .showcase__show-all {
    width: 100%;
    min-height: 100vh;
    background: #ded5c4;
    display: flex;
    flex-direction: column; }
    .showcase__show-all__top {
      flex: 0 0 20vh;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
    .showcase__show-all__bottom {
      flex: 0 0 80vh; }
    .showcase__show-all__grid {
      width: 70%;
      margin: 0 auto;
      display: grid;
      grid-template-rows: repeat(2, 40vh);
      grid-template-columns: repeat(3, 1fr); }
      @media only screen and (max-width: 70.625rem) {
        .showcase__show-all__grid {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 40vh); } }
      @media only screen and (max-width: 37.5rem) {
        .showcase__show-all__grid {
          width: 100%;
          grid-template-rows: repeat(6, 60vh);
          grid-template-columns: repeat(1, 1fr); } }
      .showcase__show-all__grid .project-1 {
        background-color: #c6124c; }
        .showcase__show-all__grid .project-1:hover {
          box-shadow: 0 2rem 4rem rgba(198, 18, 76, 0.5);
          transform: translateY(-5px); }
      .showcase__show-all__grid .project-2 {
        background-color: #1a0022; }
        .showcase__show-all__grid .project-2:hover {
          box-shadow: 0 2rem 4rem rgba(26, 0, 34, 0.5);
          transform: translateY(-5px); }
      .showcase__show-all__grid .project-3 {
        background-color: #422b88; }
        .showcase__show-all__grid .project-3:hover {
          box-shadow: 0 2rem 4rem rgba(66, 43, 136, 0.5);
          transform: translateY(-5px); }
      .showcase__show-all__grid .project-4 {
        background-color: #e66853; }
        .showcase__show-all__grid .project-4:hover {
          box-shadow: 0 2rem 4rem rgba(230, 104, 83, 0.5);
          transform: translateY(-5px); }
      .showcase__show-all__grid .project-5 {
        background-color: #e38b0c; }
        .showcase__show-all__grid .project-5:hover {
          box-shadow: 0 2rem 4rem rgba(227, 139, 12, 0.5);
          transform: translateY(-5px); }
      .showcase__show-all__grid .project-6 {
        background-color: #3e77ff; }
        .showcase__show-all__grid .project-6:hover {
          box-shadow: 0 2rem 4rem rgba(62, 119, 255, 0.5);
          transform: translateY(-5px); }
    .showcase__show-all__work {
      width: 80%;
      height: 80%;
      margin-left: 10%;
      margin-top: 10%;
      background-color: white;
      overflow: hidden;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
      .showcase__show-all__work img {
        width: 100%; }

/*
** **
** ** ==> ABOUT SECTION <==
** **
*/
.about {
  text-align: center; }
  .about__myself {
    width: 50%;
    margin-left: 50%;
    text-align: left; }
    @media only screen and (max-width: 50rem) {
      .about__myself {
        width: 60%;
        margin-left: 10%; } }
    @media only screen and (max-width: 37.5rem) {
      .about__myself {
        width: 80%; } }
  .about__list {
    list-style: none; }
    .about__list__item {
      font-size: 1.3rem;
      display: flex; }
    .about__list .name {
      flex: 0 0 30%; }
      @media screen and (max-width: 37.5rem) {
        .about__list .name {
          flex: 0 0 50%; } }
    .about__list .year {
      flex: 0 0 30%; }
      @media screen and (max-width: 37.5rem) {
        .about__list .year {
          flex: 0 0 50%; } }

/*
** **
** ** ==> FOOTER <==
** **
*/
.footer {
  text-align: center;
  display: flex;
  flex-direction: column; }
  .footer__copyright {
    width: 100%;
    margin-top: auto;
    min-height: 10rem;
    box-shadow: 0 2rem 6rem rgba(2, 2, 2, 0.5);
    background-color: #ff0052; }

/*
** **
** ** ==> ANIMATION STYLES <==
** **
*/
span.animText {
  animation: anim-slide-text 1s cubic-bezier(1, 0, 0, 1); }

span.animateText {
  visibility: hidden; }
  @media only screen and (max-width: 50rem) {
    span.animateText {
      visibility: visible; } }

.animBox {
  position: relative; }
  .animBox::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: #ff0052;
    animation: anim-slide-box 0.7s cubic-bezier(1, 0, 0, 1);
    visibility: hidden; }

.animFadeInShowcase {
  animation: fadeInShowcase 2s cubic-bezier(0.22, 0.61, 0.36, 1); }

.anim-blur {
  animation: anim-blur .3s infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1); }

.anim-in {
  visibility: hidden; }
  @media screen and (max-width: 50rem) {
    .anim-in {
      visibility: visible; } }

.anim-in-animate {
  visibility: visible;
  animation: anim-in 1s cubic-bezier(1, 0, 0, 1); }

.fadeUp {
  animation: fadeInShowcase .4s .4s ease-out; }

/*
** **
** ** ==> ANIMATION KEYFRAMES <==
** **
*/
/*Animation Sliding Text Effect*/
@keyframes anim-slide-text {
  0% {
    margin-left: -100%;
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1;
    margin-left: 0; } }

/*Animation Sliding Box Effect*/
@keyframes anim-slide-box {
  0% {
    left: -100%;
    visibility: visible; }
  100% {
    left: 100%; } }

/*Animation Blur Effect*/
@keyframes anim-blur {
  0% {
    filter: blur(1px); }
  20% {
    filter: blur(1.5px);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  50% {
    filter: blur(1.5px);
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3); }
  90% {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
  100% {
    filter: blur(1px);
    filter: blur(1px);
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3); } }

/*Animation Book Effect*/
@keyframes anim-book-left {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  100% {
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
    border-radius: 1rem 0 0 1rem; } }

@keyframes anim-book-right {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  100% {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    border-radius: 0 1rem 1rem 0; } }

/*Animation Slide Up/Down Effect For Introduction*/
@keyframes anim-slide-down {
  0% {
    margin-top: -100vh; }
  100% {
    margin-top: 7vh; } }

@keyframes anim-slide-up {
  0% {
    margin-top: 100vh; }
  100% {
    margin-top: 7vh; } }

@keyframes fadeInShowcase {
  0% {
    opacity: 0.2;
    visibility: visible;
    margin-top: 40%; }
  100% {
    opacity: 1;
    margin-top: 0;
    visibility: visible; } }

@keyframes anim-in {
  0% {
    opacity: 0;
    margin-left: 150%; }
  100% {
    opacity: 1;
    margin-left: 10%; } }
